@font-face {
    font-family: 'DefaultFont';
    src:  url("../Old/font/UDDigiKyokashoN-R.ttc") format('truetype');
}

* {
    margin: 0;
    font-family: 'DefaultFont';
    scroll-behavior: smooth;
}

/* reused palette from old stylesheet */
:root {
    --bg-color: #ffacac;
    --bg-nav: #ff5f7a;
    --bg-footer: #6b4b51;
    --bg-about: #b1797980;
    --bg-projects: #767acb80;
    --bg-contacts: #3fc2c280;
    --ctx-bg: #b67c7c;
    --ctx-hover-bg: #8d5c5c;
    --ctx-hr: #613e3e;
}

body {
    background-color: var(--bg-color);
    padding: 10%;
    padding-top: 3%;
    overflow: hidden;
}

[unselect] {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

[pfp]
{
    border-radius: 100%;
    box-shadow: 0 0 15px 5px black;
    height: 175px;
}

/* #region Main*/
[main]
{
    background-color: var(--bg-nav);
    border-radius: 0.5rem;
    box-shadow: 0 0px 20px black;
    position: relative;
    height: auto;
    padding: 50px;
    width: auto;
    z-index: 2;
}
[submain]
{
    display: inline-flex;
    z-index: 5;
}
/* #endregion */

/* #region Submain section */
[socials]
{
    text-align: center;
    padding-top: 30px;
}

[introduction]
{
    padding-left: 35px;
    padding-top: 10px;
}

/* #region Skills */
[skills]
{
    height: auto;
    text-align: center;
    padding-top: 35px;
}
[skills] img
{
    -webkit-filter: drop-shadow(0px 0px 5px black);
    filter: drop-shadow(0px 0px 5px black);
    height: 50px;
    transition: all 0.2s;
    position: relative;
}
[skills] img:hover
{
    height: 70px;
    margin-top: -2%;
}
/* #endregion */

/* #region Socials */
[socials] img
{
    -webkit-filter: drop-shadow(0px 0px 5px black);
    filter: drop-shadow(0px 0px 5px black);
    padding-right: 10px;
}
[socials] img:hover
{
    -webkit-filter: drop-shadow(0px 0px 5px white);
    filter: drop-shadow(0px 0px 5px white);
    padding-right: 10px;
}
/* #endregion */

/* #region Projects */
[projects]
{
    text-align: center;
    padding-top: 20px;
}
[projects] img
{
    border-radius: 10px;
    box-shadow: 0 0 10px 2px black;
    margin: 10px;
    margin-top: 20px;
    transition: all 0.2s
}
[projects] img:hover
{
    border-radius: 50px;
    box-shadow: 0 0 10px 2px red;
}
/* #endregion */
/* #endregion */

/* #region Main Overlay Background AKA astolfo bg */
[bgdiv]
{
    position: absolute;
    /* background-color: red; */
    height: 565px;
    width: 100%;
    margin: -50px;
    margin-top: -515px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    pointer-events: none;
}
[bg]
{
    position: relative;
    margin: -250px;
    height: 800px;
    float: right;
    top: 250px;
    z-index: -1;
    opacity: .8;
}
/* #endregion */

[btn] {
    position: relative;
    top: 35px;
    text-decoration: none;
    color: rgba(128, 0, 0, 0.966);
}