/* 
This is where I only use the .css because less need to generate so yeah kinda delays the operation when less
is generating.
*/

* { margin: 0; padding: 0; }

.preLoad {
    z-index: 2;
    position: fixed;
    top: 0;
    background: wheat;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

h1 {
    font-family: "UD Digi Kyokasho N-R";
    animation: loading .8s infinite;
}

@keyframes loading {
    0% {
        font-size: 50px;
    }
    50% {
        font-size: 100px;
    }
    100% {
        font-size: 50;
    }
}