.vertical-menu {
    background-color: var(--ctx-bg);
    border-radius: 1vh;
    z-index: 1000;
    position: absolute;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    width: 20vh;
    box-shadow: 0 0 1vh 0.1px black;
    transition: visibility 0.1s, opacity 0.1s;
}

.vertical-menu a {
    color: black;
    display: block;
    padding: 1vh;
    font-size: 2vh;
    text-decoration: none;
    transition: background-color 0.1s;
}

.vertical-menu hr {
    border: 0.1vh solid var(--ctx-hr);
}

.vertical-menu p {
    color: black;
    display: block;
    padding: 1vh;
    font-size: 1.5vh;
    text-align: center;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: var(--ctx-hover-bg);
}

[menu-top] {
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}