@import './root.css';
@import './navbar.css';

* {
    margin: 0;
    font-family: 'DefaultFont';
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

.sectionHeader {
    padding-top: 70px;
    font-size: 50px;
}

.sectionContents {
    padding-bottom: 30vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}