footer {
    background: var(--bg-footer);
    /* width: 100vw; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px 0 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--text-light);
    font-size: 0.9rem;
}

.footer-left {
    display: flex;
}

.footer-left svg {
    margin: -5px 8px;
    cursor: pointer;
    transition: transform 0.2s ease, fill 0.2s ease;
    opacity: 0.8;
}

.footer-left svg:hover {
    transform: translateY(-3px);
    fill: #ffacac;
    opacity: 1;
}

@media (max-width: 620px) {
    footer {
        display: block;
    }
    .footer-left {
        display: block;
        line-height: 1.6;
    }
    .footer-right {
        padding-top: 20px;
    }
}